/*0 -> General <- 0*/
html {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
footer {
  margin-top: auto;
  color: #fff;
  background-color: #363636;
  font-size: 18px;
}
footer p {
  padding: 1rem 0;
  text-align: center;
}
main {
  height: 80vh;
}
/*00-> Index <-00*/
.home-card,
.container {
  height: 100%;
}
.home-card {
  margin-top: 1.5rem;
}
.home-card-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nav-brand {
  display: flex;
  align-items: center;
}
@media (max-width: 390px) {
  .nav-brand span {
    font-size: 18px;
  }
}
form {
  display: flex;
}
.field {
  flex-grow: 3;
}
.search-btn {
  margin-left: 1rem;
}

/*000->Results<-000*/
.results {
  display: flex;
  justify-content: space-around;
}
.card-content {
  display: flex;
}
.card-content img {
  height: auto;
  max-width: 350px;
}
.resolution-row {
  display: flex;
  padding-bottom: 1rem;
  justify-content: space-between;
}
.results-text {
  margin-left: 1rem;
}
@media (max-width: 767px) {
  .results-content {
    display: flex;
    flex-direction: column;
  }
  form {
    flex-direction: column;
  }
  .search-btn {
    margin: 0 !important;
  }
  main {
    height: auto;
  }
}

/*0000->Error<-0000*/
.page-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.error-title {
  text-align: center;
  font-size: 5rem !important;
  margin: 0 !important;
  padding-top: 5px;
}
.error-subtitle {
  text-align: center;
  font-size: 2.5rem !important;
}
